@media screen and (max-width:767px) {
    /* Phone */
    /* ___________ START OF MAIN __________ */
    main{
        width: 100%;
        height: 120vh;
        position: relative;
        overflow: hidden;
        >.bg-img{
            width: 100%;
            height: 100%;
            >.header_top{
                width: 90%;
                height: 25%;
                >.top{
                    width: 100%;
                    height: 70%;
                    >figure{
                        width: 20%;
                        height: 50%;;
                    }
                    /* _________ END OF FIGURE __________ */
                    >#toggle{
                        width: 50px;
                        height: 50px;
                        background-color: #FFF;
                        display: grid;
                        place-items: center;
                        border-radius: 5px;
                        transition: .4s;
                        cursor: pointer;
                        >p{
                            color: #FE8802;
                            font-size: 25px;
                            font-weight: 900;
                            transition: .4s;
                        }
                        &:hover{
                            background-color: #FE8802;
                        }
                        &:hover>p{
                            color: #FFF;
                        }

                    }
                    >ul{
                        width: 80%;
                        border: 2px solid black;
                        position: absolute;
                        top: 0;right: -100%;
                        background-image: url(../Img/par.jpg);
                        background-size: 100% 100%;
                        background-position: center;
                        >li{
                            width: 100%;
                            padding-block: 14px;
                            transition: .4s;
                            >a{
                                display: inline-block;  
                                color: #FFF;
                                text-transform: capitalize;
                                padding: 4px 20px;
                                font-family:Exo ;
                                font-weight: 600;
                                transition: .4s;
                            }
                            &:hover:not(:nth-of-type(9)){
                                background-color: #FFF;
                                >a{
                                    transform: translateX(10px);
                                    color: #FE8802;
                                }
                            }
                            &:not(:nth-of-type(9)){
                                border: 1px solid rgba(128, 128, 128, 0.187);
                            }
                            &:nth-of-type(1){
                                background-color: #FFF;
                                >a{
                                    color: #FE8802;
                                }
                            }
                            >.social{
                                width: 100%;
                                height: 180px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                >ul{
                                    width: 100%;
                                    /* height: 100%; */
                                    display: flex;
                                    margin-left: 150px;
                                    >li{
                                        padding-inline: 3px;
                                        position: relative;
                                        >span{
                                            width: 40px;
                                            height: 40px;
                                            text-align: center;
                                            line-height: 40px;
                                            line-height: 40px;
                                            background-color: rgba(255,255,255,0.07);
                                            border-radius: 5px;
                                            >a{
                                                display: inline-block;
                                                transition: .4s;
                                                color: #fcfcfc;
                                                /* color: red; */
                                                font-size: 25px;
                                                /* transform: rotateX(50deg); */
                                            }
                                        }
                                        &:hover>span>a{
                                            transform: rotateY(360deg);
                                        }
                                        >p{
                                            display: inline-block;
                                            /* width: 50px;
                                            height: 20px; */
                                            background-color: #FE8802;
                                            font-family:Exo ;
                                            position: absolute;
                                            top: -33px;
                                            left: -5px;
                                            visibility: hidden;
                                            opacity: 0;
                                            transition: .4s;
                                            padding: 5px 10px;
                                            font-size: 12px;
                                            border-radius: 5px;
                                            color: #FFF;
                                        }
                                        &:hover>p{
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                        &:hover:nth-of-type(1){
                                            >span{
                                                background-color: #0741ff;
                                            }
                                        }
                                        &:hover:nth-of-type(2){
                                            >span{
                                                background-color:#000000 ;
                                            }
                                        }
                                        &:hover:nth-of-type(3){
                                            >span{
                                                background-color:#0693e3;
                                            }
                                        }
                                        &:hover:nth-of-type(4){
                                            >span{
                                                background-image: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
                                            }
                                        }
                                    }
                                }
                                >h6{
                                    color: #5B5B5B;
                                    text-transform: capitalize;
                                    margin-top: 20px;
                                    margin-right: 20px;
                                    font-size: 14px;
                                    font-family:Exo ;
                                }
                            }
                        }
                    }
                    >.contact{
                        width: 50%;
                        height: 100%;
                        display: none;
                        >div{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            >span{
                                font-size: 3vw;
                            }
                            /* _________ END OF SPAN __________ */
                            >p{
                                width: 100%;
                                margin-left: 20px;
                                font-size: 10px;
                                >a{
                                    font-size: 12px;
                                }
                            }
                            /* ________ END OF P __________ */
                            >button{
                                all: unset;
                                padding: 10px 30px;
                                font-size: 8px;
                                border: 2px solid #FFF;
                                border-radius: 5px;
                                font-family:Exo ;
                                color: #FFF;
                                transition: .4s;
                                cursor: pointer;
                                margin-left: 30px;
                                &:hover{
                                    background-color: #FFF;
                                    color: #FE8802;
                                }
                            }
                            /* ___________ END OF BUTTON -____________ */
                        }
                        /* _______ END OF DIV __________ */
                    }
                    /* _________- END OF .CONTACT -__________ */
                }
                .top>ul.active{
                    right: 0;
                    transition: .8s;
                }
                .top>ul>#close{
                    transition: 1s;
                }
                /* ___________ END OF .TOP ___________ */
                >nav{
                    width: 100%;
                    height: 30%;
                    display: none;
                    justify-content: space-between;
                    >ul{
                        height: 100%;
                        display: flex;
                        >li{
                            padding-inline: 20px;
                            height: inherit;
                            line-height: 55px;
                            position: relative;
                            >a{
                                transition: .3s;
                                >i{
                                    margin-left: 10px;
                                }
                            }
                            /* _______ START OF DROP DOWN MENU ______________ */
                            >ul{
                                width: 250%;
                                /* height:100px; */
                                background-color: #FFF;
                                position: absolute;
                                left: 0;
                                /* bottom: -220px; */
                                visibility: hidden;
                                opacity: 0;
                                transition: .4s;
                                border-radius: 7px;
                                margin-top: 10px;
                                >li{
                                    padding-inline: 10px;
                                    line-height: 1;
                                    padding-block: 10px;
                                    transform: translateX(70px);
                                    font-family:Exo ;
                                    transition: .6s;
                                    >a{
                                        color: #5B5B5B;
                                        transition: .4s;
                                    }
                                    &:hover>a{
                                        color: #FE8802;
                                    }
                                }
                                /* ________ END OF LI __________ */
                            }
                            /* ___________ END OF DROP DOWN MENU -__________ */
                            &:hover>ul{
                                visibility: visible;
                                opacity: 1;
                            }
                            &:hover>ul>li{
                                transform: translateX(0px);
                            }
                            &:hover>a{
                                color: #FE8802;
                            }
                        }
                        /* ________- END OF LI ____________ */
                    }
                    /* ____________ END OF UL -___________ */
                    >.icons{
                        /* width: 50%; */
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        >ul{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: inherit;
                            >li{
                                padding-inline: 10px;
                                position: relative;
                                >span{
                                    height: 100%;
                                    >a{
                                        font-size: 1.6vw;
                                    }
                                }
                                /* _________ END OF SPAN -___________ */
                                p{
                                    display: inline-block;
                                    /* width: 50px;
                                    height: 20px; */
                                    background-color: #FE8802;
                                    font-family:Exo ;
                                    position: absolute;
                                    top: -45px;
                                    left: -15px;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: .4s;
                                    padding: 5px 10px;
                                    font-size: 12px;
                                    border-radius: 5px;
                                    color: #FFF;
                                }
                                /* __________ END OF P +_____________ */
                                &:hover>p{
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                        /* __________ END OF UL ___________ */
                        >a{
                            /* margin-right: 30px; */
                            height: inherit;
                            padding: 10px 40px;
                            font-size: 1.8vw;
                            position: relative;
                            text-align: center;
                            /* line-height: 30px; */
                            transition: .4s;
                            &:hover{
                                color: #FE8802;
                            }
                            &:nth-of-type(1){
                                &::after{
                                    content: '39';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                    position: absolute;
                                    top: 2px;
                                    right: 16px;
                                    background-color: #FE8802;
                                    color: #FFF;
                                    border-radius: 50%;
                                    font-size: 10px;
                                    font-family:Exo ;
                                }
                            }
                            &:nth-of-type(2){
                                border-right: none;
                            }
                        }
                        /* _________ END OF A  ______________ */
                    }
                    /* ________ END OF .ICONS -____________ */
                }
                /* __________ END OF NAV ____________- */
            }
            /* _________ END OF .HEADER_TOP ______________ */
            >.avoid-extra{
                width: 90%;
                height: 75%;
                >h1{
                    font-size: 4vw;
                    padding: 5px 20px;
                    border-radius: 5px;
                }
                >p{
                    display: inline-block;
                    margin-top: 10px;
                    padding: 10px 20px;
                    font-size: 2vw;
                    border-radius: 5px;
                }
            }
        }
        /* ________ END OF .BG-IMG ____________ */
    }
    /* _________ END OF MAIN __________ */
    /* __________- START OF .FAST-SECURE ___________ */
    .fast-secure{
        width: 100%;
        /* height: 35vh; */
        display: flex;
        justify-content: center;
        position: relative;
        >.offer-logistic{
            width: 90%;
            height: 100%;
            
            >.left{
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-top: 50px;
                >figure{
                    width: 15%;
                    >img{
                        width: 100%;
                    }
                }
                >div{
                    margin-left: 20px;
                    >h2{
                        font-size: 3.7vw;
                    }
                    >p{
                        font-size: 2.4vw;
                        text-align: center;
                    }
                }
            }
            >.right{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 50px;
            }
        }
    }
    /* ___________ END OF .FAST-SECURE _____________ */
    /* __________ START OF .Transportation Services _________- */
    #Transportation-Services{
        width: 100%;
        /* height: 65vh; */
        padding-top: 50px;
        padding-bottom: 50px;
        >.our-services{
            width: 100%;
            height: 60%;
            display: flex ;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            >h2{
                color: #000;
                font-size: 25px;
                text-transform: capitalize;
                font-weight: 600;
                position: relative;
                user-select: none;
                >a{
                    color: #FE8802;
                    user-select: none;
                }
                &::after{
                    content: '';
                    display: none;
                    width: 70px;
                    border: 2px solid #FE8802;
                    position: absolute;
                    top: 20px;left: -90px;
                }
                &::before{
                    content: '';
                    display: none;
                    width: 70px;
                    border: 2px solid #FE8802;
                    position: absolute;
                    top: 20px;right: -90px;
                }
            }
            >p{
                color: #666666;
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }
    /* ___________ END OF .Transportation Services _____________ */
    /* __________ START OF #OUR-COMAPNY ___________ */
    #our-company{
        width: 100%;
        /* height: 100vh; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        margin-top: 200px;
        >.about-img{
            width: 100%;
            /* display: flex; */
            /* justify-content: space-evenly; */
            transform: translateY(-200px);
            >figure{
                width: 100%;
                transform-style: preserve-3d;
                transition: .4s;
                margin-block: 40px;
                >img{
                    width: 100%;
                }
                >figcaption{
                    clip-path: polygon(0 10%,45% 10%,51% 0,57% 10%,100% 10%,100% 100%,0 100%);
                    height: 200px;
                    margin-top: -25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 0px 30px;
                    h3{
                        /* padding-top: 30px; */
                        font-size: 30px;
                    }
                    >p{
                        font-size:16px;
                    }
                }
                &:nth-of-type(2){
                    transform: translateZ(-1000px);
                }
                &:hover{
                    transform: translateY(-40px);
                }
            }
        }
        >.information{
            width: 100%;
            height: 1vh;
            transform: translateY(-200px);
            padding: 0px 80px;
            >p{
                color: #fcfcfc;
                text-align: center;
                font-size: 14px;
                line-height: 40px;
            }
        }
    }
    /* ____________ END OF #OUR-COMPANY ____________ */
}
@media screen and (min-width:768px) {
    /* Tapleat */
    /* ___________ START OF MAIN __________ */
    main{
        width: 100%;
        height: 120vh;
        >.bg-img{
            width: 100%;
            height: 100%;
            >.header_top{
                width: 90%;
                height: 25%;
                >.top{
                    width: 100%;
                    height: 70%;
                    >figure{
                        width: 20%;
                        height: 50%;;
                    }
                    /* _________ END OF FIGURE __________ */
                    >#toggle{
                        display: none;
                    }
                    >ul{
                        display: none;
                    }
                    >.contact{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        >div{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            >span{
                                font-size: 3vw;
                            }
                            /* _________ END OF SPAN __________ */
                            >p{
                                margin-left: 20px;
                                font-size: 13px;
                                >a{
                                    font-size: 1.4vw;
                                }
                            }
                            /* ________ END OF P __________ */
                            >button{
                                all: unset;
                                padding: 15px 40px;
                                font-size: 1.2vw;
                                border: 2px solid #FFF;
                                border-radius: 5px;
                                font-family:Exo ;
                                color: #FFF;
                                transition: .4s;
                                cursor: pointer;
                                &:hover{
                                    background-color: #FFF;
                                    color: #FE8802;
                                }
                            }
                            /* ___________ END OF BUTTON -____________ */
                        }
                        /* _______ END OF DIV __________ */
                    }
                    /* _________- END OF .CONTACT -__________ */
                }
                /* ___________ END OF .TOP ___________ */
                >nav{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: space-between;
                    >ul{
                        height: 100%;
                        display: flex;
                        >li{
                            padding-inline: 10px;
                            height: inherit;
                            padding-top: 20px;
                            /* line-height: 55px; */
                            position: relative;
                            >a{
                                transition: .3s;
                                font-size: 10px;
                                >i{
                                    margin-left: 10px;
                                }
                            }
                            /* _______ START OF DROP DOWN MENU ______________ */
                            >ul{
                                width: 250%;
                                /* height:100px; */
                                background-color: #FFF;
                                position: absolute;
                                left: 0;
                                /* bottom: -220px; */
                                visibility: hidden;
                                opacity: 0;
                                transition: .4s;
                                border-radius: 7px;
                                margin-top: 10px;
                                >li{
                                    padding-inline: 10px;
                                    line-height: 1;
                                    padding-block: 10px;
                                    transform: translateX(70px);
                                    font-family:Exo ;
                                    transition: .6s;
                                    >a{
                                        color: #5B5B5B;
                                        transition: .4s;
                                        font-size: 14px;
                                    }
                                    &:hover>a{
                                        color: #FE8802;
                                    }
                                }
                                /* ________ END OF LI __________ */
                            }
                            /* ___________ END OF DROP DOWN MENU -__________ */
                            &:hover>ul{
                                visibility: visible;
                                opacity: 1;
                            }
                            &:hover>ul>li{
                                transform: translateX(0px);
                            }
                            &:hover>a{
                                color: #FE8802;
                            }
                        }
                        /* ________- END OF LI ____________ */
                    }
                    /* ____________ END OF UL -___________ */
                    >.icons{
                        /* width: 50%; */
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        >ul{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: inherit;
                            >li{
                                padding-inline: 10px;
                                position: relative;
                                >span{
                                    height: 100%;
                                    >a{
                                        font-size: 1.6vw;
                                    }
                                }
                                /* _________ END OF SPAN -___________ */
                                p{
                                    display: inline-block;
                                    /* width: 50px;
                                    height: 20px; */
                                    background-color: #FE8802;
                                    font-family:Exo ;
                                    position: absolute;
                                    top: -45px;
                                    left: -15px;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: .4s;
                                    padding: 5px 10px;
                                    font-size: 12px;
                                    border-radius: 5px;
                                    color: #FFF;
                                }
                                /* __________ END OF P +_____________ */
                                &:hover>p{
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                        /* __________ END OF UL ___________ */
                        >a{
                            /* margin-right: 30px; */
                            height: inherit;
                            padding: 10px 30px;
                            font-size: 1.8vw;
                            position: relative;
                            text-align: center;
                            padding-top: 20px;
                            /* line-height: 30px; */
                            transition: .4s;
                            &:hover{
                                color: #FE8802;
                            }
                            &:nth-of-type(1){
                                &::after{
                                    content: '39';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                    position: absolute;
                                    top: 2px;
                                    right: 16px;
                                    background-color: #FE8802;
                                    color: #FFF;
                                    border-radius: 50%;
                                    font-size: 10px;
                                    font-family:Exo ;
                                }
                            }
                            &:nth-of-type(2){
                                border-right: none;
                            }
                        }
                        /* _________ END OF A  ______________ */
                    }
                    /* ________ END OF .ICONS -____________ */
                }
                /* __________ END OF NAV ____________- */
            }
            /* _________ END OF .HEADER_TOP ______________ */
            >.avoid-extra{
                width: 90%;
                height: 75%;
                >h1{
                    font-size: 4vw;
                    padding: 5px 20px;
                    border-radius: 5px;
                }
                >p{
                    display: inline-block;
                    margin-top: 10px;
                    padding: 10px 20px;
                    font-size: 2vw;
                    border-radius: 5px;
                }
            }
        }
        /* ________ END OF .BG-IMG ____________ */
    }
    /* _________ END OF MAIN __________ */
    /* __________- START OF .FAST-SECURE ___________ */
    .fast-secure{
        width: 100%;
        /* height: 35vh; */
        display: flex;
        justify-content: center;
        position: relative;
        >.offer-logistic{
            width: 90%;
            height: 100%;
            padding-top: 40px;
            /* display: flex; */
            /* justify-content: space-between; */
            /* align-items: center; */
            >.left{
                width: 100%;
                padding-top: 20px;
                display: flex;
                /* justify-content: center; */
                align-items: center;
                >figure{
                    width: 10%;
                    >img{
                        width: 100%;
                    }
                }
                >div{
                    margin-left: 20px;
                    >h2{
                        font-size: 35px;
                    }
                    >p{
                        font-size: 20px;
                    }
                }
            }
            >.right{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 80px;
            }
        }
    }
    /* ___________ END OF .FAST-SECURE _____________ */
    /* __________ START OF .Transportation Services _________ */
    #Transportation-Services{
        width: 100%;
        /* height: 65vh; */
        padding-top: 100px;
        padding-bottom: 80px;
        >.our-services{
            width: 100%;
            height: 60%;
            display: flex ;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            >h2{
                color: #000;
                font-size: 4vw;
                text-transform: capitalize;
                font-weight: 600;
                position: relative;
                user-select: none;
                >a{
                    color: #FE8802;
                    user-select: none;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 70px;
                    border: 2px solid #FE8802;
                    position: absolute;
                    top: 20px;left: -90px;
                }
                &::before{
                    content: '';
                    display: block;
                    width: 70px;
                    border: 2px solid #FE8802;
                    position: absolute;
                    top: 20px;right: -90px;
                }
            }
            >p{
                color: #666666;
                font-size: 2vw;
            }
        }
    }
    /* -__________ END OF .Transportation Services __________- */
    /* ــ_______ START OF #OUR-COMPANY ________ */
    #our-company{
        width: 100%;
        /* height: 100vh; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        margin-top: 200px;
        >.about-img{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            transform: translateY(-200px);
            >figure{
                width: 250px;
                transform-style: preserve-3d;
                transition: .4s;
                >img{
                    width: 100%;
                }
                >figcaption{
                    clip-path: polygon(0 5%,45% 5%,51% 0,57% 5%,100% 5%,100% 100%,0 100%);
                    height: 400px;
                    margin-top: -25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 40px;
                    h3{
                        /* padding-top: 30px; */
                        font-size: 4vw;
                    }
                    >p{
                        font-size: 2vw;
                        line-height:40px;
                    }
                }
                &:nth-of-type(2){
                    transform: translateZ(-1000px);
                }
                &:hover{
                    transform: translateY(-40px);
                }
            }
        }
        >.information{
            width: 100%;
            height: 20vh;
            transform: translateY(-80px);
            padding: 0px 200px;
            >p{
                color: #fcfcfc;
                text-align: center;
                font-size: 1.8vw;
                line-height: 40px;
            }
        }
    }
    /* -______________ END OF #OUR-COMPANY ___________ */
}
@media screen and (min-width:992px) {
    /* Laptop */
    /* ___________ START OF MAIN __________ */
    main{
        width: 100%;
        height: 120vh;
        position: relative;
        /* overflow: visible; */
        /* z-index: -4; */
        >.bg-img{
            width: 100%;
            height: 100%;
            >.header_top{
                width: 90%;
                height: 25%;
                >.top{
                    width: 100%;
                    height: 70%;
                    >figure{
                        width: 20%;
                        height: 50%;;
                    }
                    /* _________ END OF FIGURE __________ */
                    >#toggle{
                        display: none;
                    }
                    >ul{
                        display: none;
                    }
                    >.contact{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        >div{
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            >span{
                                font-size: 3vw;
                            }
                            /* _________ END OF SPAN __________ */
                            >p{
                                margin-left: 20px;
                                >a{
                                    font-size: 1.4vw;
                                }
                            }
                            /* ________ END OF P __________ */
                            >button{
                                all: unset;
                                padding: 15px 50px;
                                font-size: 1.2vw;
                                border: 2px solid #FFF;
                                border-radius: 5px;
                                font-family:Exo ;
                                color: #FFF;
                                transition: .4s;
                                cursor: pointer;
                                &:hover{
                                    background-color: #FFF;
                                    color: #FE8802;
                                }
                            }
                            /* ___________ END OF BUTTON -____________ */
                        }
                        /* _______ END OF DIV __________ */
                    }
                    /* _________- END OF .CONTACT -__________ */
                }
                /* ___________ END OF .TOP ___________ */
                >nav{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: space-between;
                    >ul{
                        height: 100%;
                        display: flex;
                        >li{
                            padding-inline: 20px;
                            height: inherit;
                            /* line-height: 55px; */
                            position: relative;
                            >a{
                                transition: .3s;
                                font-size: 1.2vw;
                                >i{
                                    margin-left: 10px;
                                }
                            }
                            /* _______ START OF DROP DOWN MENU ______________ */
                            >ul{
                                width: 250%;
                                /* height:100px; */
                                background-color: #FFF;
                                position: absolute;
                                left: 0;
                                /* bottom: -220px; */
                                visibility: hidden;
                                margin-top: 10px;
                                opacity: 0;
                                transition: .4s;
                                border-radius: 7px;
                                margin-top: 10px;
                                >li{
                                    padding-inline: 10px;
                                    line-height: 1;
                                    padding-block: 10px;
                                    transform: translateX(70px);
                                    font-family:Exo ;
                                    transition: .6s;
                                    >a{
                                        color: #5B5B5B;
                                        transition: .4s;
                                    }
                                    &:hover>a{
                                        color: #FE8802;
                                    }
                                }
                                /* ________ END OF LI __________ */
                            }
                            /* ___________ END OF DROP DOWN MENU -__________ */
                            &:hover>ul{
                                visibility: visible;
                                opacity: 1;
                            }
                            &:hover>ul>li{
                                transform: translateX(0px);
                            }
                            &:hover>a{
                                color: #FE8802;
                            }
                        }
                        /* ________- END OF LI ____________ */
                    }
                    /* ____________ END OF UL -___________ */
                    >.icons{
                        /* width: 50%; */
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        >ul{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: inherit;
                            >li{
                                padding-inline: 10px;
                                position: relative;
                                >span{
                                    height: 100%;
                                    >a{
                                        font-size: 1.6vw;
                                    }
                                }
                                /* _________ END OF SPAN -___________ */
                                p{
                                    display: inline-block;
                                    /* width: 50px;
                                    height: 20px; */
                                    background-color: #FE8802;
                                    font-family:Exo ;
                                    position: absolute;
                                    top: -45px;
                                    left: -15px;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: .4s;
                                    padding: 5px 10px;
                                    font-size: 12px;
                                    border-radius: 5px;
                                    color: #FFF;
                                }
                                /* __________ END OF P +_____________ */
                                &:hover>p{
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                        /* __________ END OF UL ___________ */
                        >a{
                            /* margin-right: 30px; */
                            height: inherit;
                            padding: 10px 40px;
                            font-size: 1.8vw;
                            position: relative;
                            text-align: center;
                            /* line-height: 30px; */
                            transition: .4s;
                            &:hover{
                                color: #FE8802;
                            }
                            &:nth-of-type(1){
                                &::after{
                                    content: '39';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                    position: absolute;
                                    top: 2px;
                                    right: 16px;
                                    background-color: #FE8802;
                                    color: #FFF;
                                    border-radius: 50%;
                                    font-size: 10px;
                                    font-family:Exo ;
                                }
                            }
                            &:nth-of-type(2){
                                border-right: none;
                            }
                        }
                        /* _________ END OF A  ______________ */
                    }
                    /* ________ END OF .ICONS -____________ */
                }
                /* __________ END OF NAV ____________- */
            }
            /* _________ END OF .HEADER_TOP ______________ */
            >.avoid-extra{
                width: 90%;
                height: 75%;
                >h1{
                    font-size: 4vw;
                    padding: 5px 20px;
                    border-radius: 5px;
                }
                >p{
                    display: inline-block;
                    margin-top: 10px;
                    padding: 10px 20px;
                    font-size: 2vw;
                    border-radius: 5px;
                }
            }
        }
        /* ________ END OF .BG-IMG ____________ */
    }
    /* _________ END OF MAIN __________ */
    /* __________- START OF .FAST-SECURE ___________ */
    .fast-secure{
        width: 100%;
        height: 35vh;
        display: flex;
        justify-content: center;
        position: relative;
        /* overflow-Y: hidden; */
        z-index: 1;
        >.offer-logistic{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >.left{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                >figure{
                    width: 15%;
                    >img{
                        width: 100%;
                    }
                }
                >div{
                    margin-left: 20px;
                    >h2{
                        font-size: 2vw;
                    }
                    >p{
                        font-size: 1.4vw;
                    }
                }
            }
            >.right{
                >img{
                    position: absolute;
                    top: -100px;right: 0;
                    z-index: 100px;
                    width: 400px;
                }
            }
        }
    }
    /* ___________ END OF .FAST-SECURE _____________ */
    /* ـ____________ START OF .Transportation Services ____________ */
    #Transportation-Services{
        width: 100%;
        height: 70vh;
        /* padding-top: 100px; */
        /* padding-bottom: 40px; */
        >.our-services{
            width: 100%;
            height: 60%;
            display: flex ;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            >h2{
                color: #000;
                font-size: 2.5vw;
                text-transform: capitalize;
                font-weight: 600;
                position: relative;
                user-select: none;
                >a{
                    color: #FE8802;
                    user-select: none;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 70px;
                    border: 2px solid #FE8802;
                    position: absolute;
                    top: 20px;left: -90px;
                }
                &::before{
                    content: '';
                    display: block;
                    width: 70px;
                    border: 2px solid #FE8802;
                    position: absolute;
                    top: 20px;right: -90px;
                }
            }
            >p{
                color: #666666;
                font-size: 1.2vw;
            }
        }
    }
    /* ____________ END OF .Transportation Services ____________ */
    /* ________ SART OF #OUR-COMPANY ____________ */
    #our-company{
        width: 100%;
        /* height: 100vh; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        >.about-img{
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            transform: translateY(-200px);
            >figure{
                width: 400px;
                transform-style: preserve-3d;
                transition: .4s;
                >img{
                    width: 100%;
                }
                >figcaption{
                    clip-path: polygon(0 10%,45% 10%,51% 0,57% 10%,100% 10%,100% 100%,0 100%);
                    height: 200px;
                    margin-top: -25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 40px;
                    h3{
                        /* padding-top: 30px; */
                        font-size: 1.8vw;
                    }
                    >p{
                        font-size: 1.2vw;
                    }
                }
                &:nth-of-type(2){
                    transform: translateZ(-1000px);
                }
                &:hover{
                    transform: translateY(-40px);
                }
            }
        }
        >.information{
            width: 100%;
            height: 40vh;
            transform: translateY(-80px);
            padding: 100px 200px;
            >p{
                color: #fcfcfc;
                text-align: center;
                font-size: 1.8vw;
                line-height: 40px;
            }
        }
    }
    /* _________ END OF #OUR-COMPANY ____________ */
}
@media screen and (min-width:1200px) {
    /* Desktop */
}